<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% get_static_prefix %}css/reset.css" rel="stylesheet">
    <link href="{% get_static_prefix %}css/style.css" rel="stylesheet">
    <link href="{% get_static_prefix %}css/bootstrap-grid.css" rel="stylesheet">

    <title>{{ driver_info.name }} - Formula 1</title>
  </head>

  <body id="drivers-body">
    <div id="top" align="center">
        <ul class="nav-bar">
            <li class="nav-element"><img src="{% get_static_prefix %}img/f1_logo.svg" width="110" height="45"></li>
            <li class="nav-element"><a href="/">Home</a></li>
            <li class="nav-element"><a href="{% url 'drivers' %}">Drivers</a></li>
            <li class="nav-element"><a href="{% url 'teams' %}">Teams</a></li>
            <li class="nav-element"><a href="{% url 'stats' %}">Stats</a></li>
        </ul>
        <div class="content">
        <div class="driver-stat-cell">
        <div class="row" id="driver-row">

            <img src="{% get_media_prefix %}{{ driver_info.photo }}" width="600" height="600">

            <div class="column">
                <div class="highlight-driver">{{ driver_info.name }} - {{ driver_info.number }}</div>

                <table id="driver-race-table">
                    <tr>
                        <th>Event</th>
                        <th>Place</th>
                        <th>Laps</th>
                        <th>Time</th>
                    </tr>
                    {% for race in driver_results %}
                    <tr>
                        <td>{{ race.event }}</td>
                        <td>{{ race.row_id }}</td>
                        <td>{{ race.laps }}</td>
                        <td>{{ race.time|default:"No time set" }}</td>
                    </tr>
                    {% endfor %}
                </table>

                <table id="driver-race-table">
                    <tr>
                        <th>Team</th>
                        <th>Races</th>
                    </tr>
                    {% for team in team_drivers %}
                    <tr>
                        <td>{{ team.team }}</td>
                        <td>{{ team.amount }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        </div>
        </div>
    </div>
  </body>
</html>
