<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% get_static_prefix %}css/reset.css" rel="stylesheet">
    <link href="{% get_static_prefix %}css/style.css" rel="stylesheet">
    <link href="{% get_static_prefix %}css/bootstrap-grid.css" rel="stylesheet">

    <title>All teams - Formula 1</title>
  </head>

  <body id="teams-body">
    <div id="top" align="center">
        <ul class="nav-bar">
            <li class="nav-element"><img src="{% get_static_prefix %}img/f1_logo.svg" width="110" height="45"></li>
            <li class="nav-element"><a href="/">Home</a></li>
            <li class="nav-element"><a href="{% url 'drivers' %}">Drivers</a></li>
            <li class="nav-element"><a href="#top">Teams</a></li>
            <li class="nav-element"><a href="{% url 'stats' %}">Stats</a></li>
        </ul>
        <div class="content">
        <div class="team-table">

            {% for team in team_list %}

            <a href="/teams/{{ team.name.split|join:"-"|lower }}" style="text-decoration:none;">
                <div class="row" id="team-row" data-color="{{ team.color_code }}">
                    <img src="{% get_media_prefix %}{{ team.photo }}" width="750" height="400">{{ team.name }}
                </div>
            </a>
            {% endfor %}

        </div>
        </div>
    </div>
  </body>
</html>
