.parallax-container {
  min-height: 1000px;
  min-width: 100%;
  background: transparent;
  display: table;
}

.content {
  display: table-cell;
  vertical-align: middle;
}

.main-title {
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.75);
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 75px;
  font-family: Arial Narrow, Arial, sans-serif;
  color: #ffffff;
}

.highlight {
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.75);
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 65px;
  font-family: Arial Narrow, Arial, sans-serif;
  color: #ffffff;
}

#event-table {
  margin-top: 50px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.75);
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 32px;
  font-family: Arial Narrow, Arial, sans-serif;
  color: #ffffff;
}

#event-table td, #event-table th {
    border-bottom: 1px solid rgba(83, 83, 83, 0.95);
    padding: 5px 10px;
}

#event-table tr:hover {
    background-color: rgba(28, 28, 28, 0.6);
}

#event-table td {
    font-size: 24px;
}

#event-table th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgba(21, 21, 21, 0.73);
}

ul.nav-bar {
    list-style-type: none;
    min-width: 100%;
    background-color: rgba(0,0,0,0.70);
    padding-left: 10px;
    overflow: hidden;
    position: fixed;
    z-index: 1;
}

li.nav-element {
    float: left;
}

li.nav-element img {
    padding-top: 15px;
}

li.nav-element a {
    display: block;
    font-family: Arial Narrow, Arial, sans-serif;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li.nav-element a:hover {
    background-color: rgba(28, 28, 28, 0.6);
}

#drivers-body {
    clear: both;
      background: url(../img/MinWallpaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

div.driver-table {
    margin-top: 7%;
    margin-bottom: 3%;
}

#driver-row {
    padding: 10px 10px;
    background-color: rgba(255, 255, 255, 0.45);
}

#driver-cell {


    font-size: 22px;
  font-family: Arial Narrow, Arial, sans-serif;
    font-weight: bold;
  color: #000000;
}

#driver-cell:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
}

img {
    float:left;
}

#teams-body {
    clear: both;
      background: url(../img/TeamWallpaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#stats-body {
    clear: both;
      background: url(../img/StatsWallpaper.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.stats-table {
    margin-top: 14%;
    margin-bottom: -8%;
}

div.team-table {
    margin-top: 10%;
    margin-bottom: 5%;
}

#team-row {
    background-color: rgba(255, 255, 255, 0.6);
        font-size: 22px;
  font-family: Arial Narrow, Arial, sans-serif;
    font-weight: bold;
  color: #000000;
}

#team-row:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
}
